namespace Config {
    export const calendarId = "";
    export const sheetId = "";
    export const nicknameMapping = {
        "name": "mail@domain.com",
    };
    export const companyEmailDomain = "@domain.com"
    export const tempMasseurData = [{
        name: "Masseur1",
        ranges: [
            { day: 1, range: "A5:A9" },
            { day: 2, range: "E5:E10" },
            { day: 3, range: "I5:I10" },
            { day: 4, range: "M5:M10" },
            // { day: 5, range: "E5:E10" },
        ]
    },
    {
        name: "Masseur2",
        ranges: [
            // { day: 1, range: "A5:A9" }, 
            { day: 2, range: "E14:E20" },
            // { day: 3, range: "I5:I10" },
            { day: 4, range: "M14:M20" },
            // { day: 5, range: "E5:E10" },
        ]
    },
    ]
}
